body {
    background-color: #8db596;
}
.container-kalkulator {
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 10px;
    /* border: 2px solid black; */
    margin-top: 7%;
    background-color: snow;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #b8d6bf4d,-2px -2px 4px #8db5964b;
}

.container-hasil {
    width: auto;
    /* border: 1px solid black; */

}
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 580;
}
.container-hasil p {
    text-align: right;
    padding: 5px;
    padding-right: 10px;
    font-size: 40px;
}

.row1, .row2, .row3, .row4, .row5 {
    /* margin: 5px; */
    margin-top: 0;
    margin-bottom: 5;
    height: fit-content;
    width: fit-content;
    /* border: 1px solid black; */
    padding: 5px;
}

.container-kalkulator button {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 20%;
    font-size: large;
    box-shadow: 1px 1px 3px #b8d6bf4d,-2px -2px 4px #8db5964b;
    background-color: snow;
}
#pad-0 {
    width: 125px;
}